body {
    background-color: #f5eeee;
}

.nav-link {
    color:white;
}

.nav-link:hover {
    color: black;
}

.lorem {
    padding: 2em 0;
}

label {
    font-size: 1.2em;
}

.desc {
    font-size: 0.8em;
    color: rgb(128, 128, 128);
}

/*.book-pic {*/
/*min-height: 300px;*/
/*}*/

.book-card {
    min-height: 175px;
}

.image-preview {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}