<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_jsp.board.BoardMapper">

	<!-- boardtbl select 구문 -->
	<select id="boardSelect" resultType="com.example.spring_jsp.board.BoardDTO">
		select
		*
		from
		boardtbl
	</select>
	
	<!-- boardtbl insert 구문(게시글 등록) -->
	<insert id="boardInsert">
		insert
		into
		boardtbl
		(SUBJECT, CONTENT, POSTDATE, LIKES, VIEWS, membertbl_IDX)
		values
		(#{subject}, #{content}, now(), 0, 0, 잊지말고 나중에 채우기)
	</insert>
	
	<!-- boardtbl update 구문(게시글 수정) -->
	<update id="boardUpdate">
		
	</update>
	
	<!-- boardtbl delete 구문(게시글 삭제) -->
	<delete id ="boardDelete">
		delete
		from
		boardtbl
		where
		IDX = #{idx}
	</delete>
</mapper>